@model WorkTracker.Models.ActivityFilterViewModel


<h1 class="mb-4">Select Time Period</h1>

<form asp-action="Index" method="post">
    <div class="mb-3">
        <label for="StartDate" class="form-label">Start Date</label>
        <input asp-for="StartDate" class="form-control" type="date" />
        <span asp-validation-for="StartDate" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label for="EndDate" class="form-label">End Date</label>
        <input asp-for="EndDate" class="form-control" type="date" />
        <span asp-validation-for="EndDate" class="text-danger"></span>
    </div>
    <div class="mb-1">
        <span asp-validation-for="IsDateRangeValid" class="text-danger"></span>
    </div>    
    <button type="submit" class="btn btn-primary">Show Activites</button>
</form>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation-unobtrusive@4.0.0/dist/jquery.validate.unobtrusive.min.js"></script>